packages/ 
Tyr/bin/
Tyr/obj/
SC2API-CSharp/bin/
SC2API-CSharp/obj/
SC2APIProtocol/bin/
SC2APIProtocol/obj/
TyrDotnetCore/bin/
TyrDotnetCore/obj/
TyrExecutable/bin/
TyrExecutable/obj/
.vs/
Tyr/Secret
build-tyckles.cmd
build-tyr-probots.cmd
build-tyr.cmd
